<!DOCTYPE html>
<html>
<head>
    <title>Login - TiyeniTickets Mail</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="login-container">
        <h1>TiyeniTickets Mail</h1>
        <form id="loginForm" class="login-form">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>